/**
 * x-transparent
 * @link 
 */
@mixin x-transparent($bgcolor, $opacity) {
	$opacityIE: $opacity * 100;
	filter: alpha(opacity=$opacityIE);
	background-color: $bgcolor;
	background-color: rgba(red($bgcolor), green($bgcolor), blue($bgcolor), $opacity);	
}