### x-transparent

**1. usage**

	syntax：<%=include%>x-transparent(<%=variable%>bgcolor, <%=variable%>opacity);

	params：

		* <%=variable%>bgcolor --- background color

		* <%=variable%>opacity --- opacity

**2. example**

	div {
		<%=include%>x-transparent(#fff, 0.2);
	}