### x-opacity

**1. usage**

	syntax：<%=include%>x-opacity(<%=variable%>opacity);

**2. example**

	div {
		<%=include%>x-opacity(0.5);
	}

**3. source**

* [http://css-tricks.com/almanac/properties/o/opacity/](http://css-tricks.com/almanac/properties/o/opacity/)