### x-user-select

**1. usage**

	syntax：<%=include%>x-user-select(<%=variable%>mode);

	params：

		* <%=variable%>mode --- none | text（default value）

	note：

		* <%=variable%>mode has other values（such as "all", "element"）, but has compatibility problems.

**2. example**

	div {
		<%=include%>x-user-select();
	}

**3. source**

* [http://css-tricks.com/almanac/properties/u/user-select/](http://css-tricks.com/almanac/properties/u/user-select/)

* [https://developer.mozilla.org/en-US/docs/Web/CSS/user-select](https://developer.mozilla.org/en-US/docs/Web/CSS/user-select)

* [http://www.w3.org/TR/2000/WD-css3-userint-20000216#user-select](http://www.w3.org/TR/2000/WD-css3-userint-20000216#user-select)