### x-grayscale

**1. usage**

	syntax：<%=include%>x-grayscale();

**2. example**

	img {
		<%=include%>x-grayscale();  // colour image into a gray image
	}

**3. source**

* [http://css-tricks.com/snippets/css/forcing-grayscale-printing/](http://css-tricks.com/snippets/css/forcing-grayscale-printing/)