x-background-origin($mode=border-box) {
	$xmode=null;

	if ($mode == border-box) {
		$xmode=border;
	}

	if ($mode == padding-box) {
		$xmode=padding;
	}

	if ($mode == content-box) {
		$xmode=content;
	}

	-moz-background-origin: $xmode;
	-webkit-background-origin: $xmode;
	background-origin: $mode; 	
}