### **x-background-origin**

> Description：css3 background-origin

**1. usage**

	syntax：<%=include%>x-background-origin(<%=variable%>mode);

	params：

		* <%=variable%>mode --- border-box（default value） | padding-box | content-box

**2. example**

	div {
		<%=include%>x-background-origin(content-box);
	}

**3. source**

* [http://www.w3school.com.cn/cssref/pr_background-origin.asp](http://www.w3school.com.cn/cssref/pr_background-origin.asp)