### **x-clearfix**

> Description：clear float

**1. usage**

	syntax：<%=include%>x-clearfix();

**2. example**

	div {
		<%=include%>x-clearfix();
	}

**3. source**

* [http://css-tricks.com/snippets/css/clear-fix/](http://css-tricks.com/snippets/css/clear-fix/)