### **x-font-face**

> Description：css3 @font-face

**1. usage**

	syntax：<%=include%>x-font-face(<%=variable%>fontName, <%=variable%>fontUrl); // note：font url without a file extension

**2. example**

	<%=include%>x-font-face('iconfont', 'http://x.cdn.com/iconfont');	

	div {
		font-family: 'iconfont';
	}

**3. source**

* [http://css-tricks.com/snippets/css/using-font-face/](http://css-tricks.com/snippets/css/using-font-face/)
