/**
 * x-animation
 * @link css-tricks.com/almanac/properties/a/animation/ 
 */
@mixin x-animation($value) {
	-webkit-animation: $value;
	-moz-animation: $value;
	-o-animation: $value;
	animation: $value;
}