/**
 * x-animation
 * @link css-tricks.com/almanac/properties/a/animation/ 
 */
x-animation($animation) {
	-webkit-animation: $animation;
	-moz-animation: $animation;
	-o-animation: $animation;
	animation: $animation;
}