### **x-text-overflow**

> Description：text-overflow

**1. usage**

	syntax：<%=include%>x-text-overflow(<%=variable%>cutway);

	params：

		* <%=variable%>cutway --- ellipsis | clip (default value)

**2. example**

	div {
		<%=include%>x-text-overflow(ellipsis);
	}

**3. source**

* [http://css-tricks.com/almanac/properties/t/text-overflow/](http://css-tricks.com/almanac/properties/t/text-overflow/)
