### x-placeholder

**1. usage**

	syntax：<%=include%>x-placeholder(<%=variable%>color);

	params：

		* <%=variable%>color --- The placeholder text's color

**2. example**

	input {
		<%=include%>x-placeholder(red);
	}

**3. source**

* [http://css-tricks.com/almanac/selectors/p/placeholder/](http://css-tricks.com/almanac/selectors/p/placeholder/)

* [https://github.com/twbs/bootstrap/pull/11526](https://github.com/twbs/bootstrap/pull/11526)