### **x-transform**

> Description：css3 transform

**1. usage**

	syntax：<%=include%>x-transform(<%=variable%>value);

	params：

		* <%=variable%>value --- transform-functions | none（default value）

**2. example**

	div {
		<%=include%>x-transform(rotate(20deg));
	}

**3. source**

* [The available transform functions](http://www.w3school.com.cn/cssref/pr_transform.asp)
