/**
 * x-border-radius
 * @link css-tricks.com/almanac/properties/b/border-radius/
 */
@mixin x-border-radius($radius, $direction:all) {
	@if ($direction == all) {
	    -moz-border-radius: $radius;
	    -webkit-border-radius: $radius;
	    border-radius: $radius;
	}

	@if ($direction == top) {
	    -moz-border-radius: $radius $radius 0 0;
	    -webkit-border-radius: $radius $radius 0 0;
	    border-radius: $radius $radius 0 0;
	}

	@if ($direction == right) {
	    -moz-border-radius: 0 $radius $radius 0;
	    -webkit-border-radius: 0 $radius $radius 0;
	    border-radius: 0 $radius $radius 0;
	}

	@if ($direction == bottom) {
	    -moz-border-radius: 0 0 $radius $radius;
	    -webkit-border-radius: 0 0 $radius $radius;
	    border-radius: 0 0 $radius $radius;
	}

	@if ($direction == left) {
	    -moz-border-radius: $radius 0 0 $radius;
	    -webkit-border-radius: $radius 0 0 $radius;
	    border-radius: $radius 0 0 $radius;
	}
}
