### **x-inline-block**

> Description：inline-block

**1. usage**

	syntax：<%=include%>x-inline-block();

**2. example**

	div {
		<%=include%>x-inline-block();
	}

**3. source**

* [http://css-tricks.com/snippets/css/cross-browser-inline-block/](http://css-tricks.com/snippets/css/cross-browser-inline-block/)