@mixin x-linear-gradient($direction, $startColor, $endColor) {
	$xdirection: null;
	$ie-direction: null;

	@if ("#{$direction}" == "to bottom") {
		$xdirection: top;
		$ie-direction: 0;
	}
	@if ("#{$direction}" == "to right") {
		$xdirection: left;
		$ie-direction: 1;
	}
	
    background: -webkit-linear-gradient($xdirection, $startColor, $endColor);
    background: -moz-linear-gradient($xdirection, $startColor, $endColor);
    background: -ms-linear-gradient($xdirection, $startColor, $endColor);
    background: -o-linear-gradient($xdirection, $startColor, $endColor);
    background: linear-gradient($direction, $startColor, $endColor);
    filter: unquote("progid:DXImageTransform.Microsoft.gradient(startcolorstr=#{$startColor},endcolorstr=#{$endColor},gradientType=#{$ie-direction})");
}