.x-linear-gradient(@direction, @startColor, @endColor) {

	.x-if-simulater () when ("@{direction}" = "to bottom") {
	    background: -webkit-linear-gradient(top, @startColor, @endColor);
	    background: -moz-linear-gradient(top, @startColor, @endColor);
	    background: -ms-linear-gradient(top, @startColor, @endColor);
	    background: -o-linear-gradient(top, @startColor, @endColor);
	    filter: ~"progid:DXImageTransform.Microsoft.gradient(startcolorstr=@{startColor},endcolorstr=@{endColor},gradientType=0)";
	}

	.x-if-simulater () when ("@{direction}" = "to right") {
	    background: -webkit-linear-gradient(left, @startColor, @endColor);
	    background: -moz-linear-gradient(left, @startColor, @endColor);
	    background: -ms-linear-gradient(left, @startColor, @endColor);
	    background: -o-linear-gradient(left, @startColor, @endColor);
	    filter: ~"progid:DXImageTransform.Microsoft.gradient(startcolorstr=@{startColor},endcolorstr=@{endColor},gradientType=1)";
	}

	.x-if-simulater();

    background: linear-gradient(@direction, @startColor, @endColor);
}