### **x-linear-gradient**

> Description：css3 linear-gradient

**1. usage**

	syntax：<%=include%>x-linear-gradient(<%=variable%>direction, <%=variable%>startColor, <%=variable%>endColor);

	params：

		* <%=variable%>direction --- to bottom | to right

**2. example**

	div {
		<%=include%>x-linear-gradient(to bottom, #000, #fff);
	}

**3. source**

* [http://css-tricks.com/css3-gradients/](http://css-tricks.com/css3-gradients/)
