### **x-min-height**

> Description：min-height

**1. usage**

	syntax：<%=include%>x-min-height(<%=variable%>height);

**2. example**

	div {
		<%=include%>x-min-height(100px);
	}

**3. source**

* [http://css-tricks.com/snippets/css/cross-browser-min-height/#comment-100802](http://css-tricks.com/snippets/css/cross-browser-min-height/#comment-100802)
