### **x-box-sizing**

> Description：css3 box-sizing

**1. usage**

	syntax：<%=include%>x-box-sizing(<%=variable%>model);

	params：

		* <%=variable%>model --- content-box | border-box | inherit

**2. example**

	div {
		<%=include%>x-box-sizing(border-box);
	}

**3. source**

* [http://css-tricks.com/box-sizing/](http://css-tricks.com/box-sizing/)